.form-container {
  -moz-box-shadow: 0 10px 25px rgb(92, 99, 105, 0.2);
  -webkit-box-shadow: 0 10px 25px rgb(92, 99, 105, 0.2);
  box-shadow: 0 10px 25px rgb(92, 99, 105, 0.2);
  width: 450px;
  height: fit-content;
  min-height: calc(875px * 0.75);
  border-radius: 1rem;
  padding: 3.5rem;
  position: relative;
  background-color: #f8f8ff;
}

.form-container.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container .form-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}

.form-container .form-subtitle {
  text-align: center;
  font-weight: 500;
  color: rgba(26, 24, 24, 0.55);
  font-size: 1.05rem;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
}

.form-container .form__input-container {
  position: relative;
  width: 100%;
  height: 48px;
  top: 0;
  left: 0;
  margin-bottom: 0.5rem;
}

.form-container .form__input {
  position: absolute;
  border: 1px solid #121212;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.75rem 1rem;
  background: none;
  z-index: 1;
  width: 100%;
}

.form-container .form__label {
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  padding: 0 0.25rem;
  font-size: 1rem;
  transition: 0.3s;
}

.form-container .form__input:focus {
  border-color: #339af0;
}

.form-container
  .form__input:not(:placeholder-shown).form__input:not(:focus)
  + .form__label,
.form-container .form__input:focus + .form__label {
  top: -0.75rem;
  left: 0.5rem;
  font-size: 1rem;
  background-color: #f8f8ff;
  z-index: 10;
}

.form-container .form__input:focus + .form__label {
  color: #339af0;
}

.form-container .login-form__help-link-container {
  width: 100%;
  margin-bottom: 1.3rem;
}

.form-container .login-form__help-link-container a {
  color: #339af0;
  text-decoration: none;
}

.login-form__button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 48px;
  width: 100%;
}

.login-form__button-container .login-form__button {
  border-radius: 0.5rem;
  outline: none;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.login-form__button:hover {
  box-shadow: inset 200px 0 0 0 #6855f4;
  color: #f8f8ff !important;
}

.login-form__button-container .login-form__login-button {
  background-color: #339af0;
  color: white;
  border: none;
}

.login-form__button-container .login-form__register-button {
  background-color: inherit;
  border: 1px solid #339af0;
  color: #339af0;
}
